<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <table>
      <tr>
        <th>NSS</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Apellido</th>
        <th>Tipo de sangre</th>
      </tr>
      <tr>
        <td>
          544646545
        </td>
        <td>
          aWA
        </td>
        <td>
          27
        </td>
        <td>
          Frausto
        </td>
        <td>
          A+
        </td>
      </tr>
    </table>
  </body>
</html>
