<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Person: <%= ID %></h1>
    <h1>Query: string value <%= QRST %></h1>
  </body>
</html>
