<!DOCTYPE html>
<!-- Se agrego el lenguaje -->
<html lang="en">
  <head>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
    <!-- Se agrego el title -->
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form action="/student" method="post">
      <label for="fname">First name:</label>
      <input type="text" name="fname" id="fname" /><br /><br />
      <label for="lname" name="lname" id="lname">Last name:</label>
      <input type="text" name="lname" name="lname" id="lname" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <!-- Sirve para especificar que cuando suceda el endpoint aseguraremos que aparezca 
    nuestra petición.
    Retorna el Nombre: Juan y Apellido Parra
    -->
    <script>
      $.ajax({
        type: "POST",
        url: "/personjson",
        data: JSON.stringify({ firstName: "Juan", lastName: "Parra" }),
        dataType: "json",
        contentType: "aplication/json",
      });
    </script>
  </body>
</html>
