<!DOCTYPE html>
<!-- Se agrego el lenguaje -->
<html lang="en">
  <head>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
    <!-- Se agrego el title -->
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world!</h1
  </body>
</html>
