<html>
  <head>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- declarar variable num -->
    <% var num = ID %>
    <!-- es par -->
    <% if(num % 2 == 0) { %> <% for(var i = 0; i < num * 2; i++) { %>
    <li>Es par</li>
    <% } %> <% } %>
    <!-- es impar -->
    <% if(num % 2 != 0) { %> <% for(var i = 0; i < num; i++) { %>
    <li>Es impar</li>
    <% } %> <% } %>
    <h1>Person: <%= num %></h1>
  </body>
  <!-- En esta practica me costo un poco entender el uso de los <%  %> pero logre entender el como se utilizan
    estos son usados casi por cada linea de codigo script que se necesite hacer como if, for, for each, acceder a variables
    crearlas etc.
    A su vez el <%=  %> es para mostrar directamente los valores que tenemos
-->
</html>
